* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Gilroy';
  vertical-align: baseline;
}

@font-face {
  font-family: 'Gilroy';
  src: url("font/Gilroy-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: 'Gilroy';
src: url("font/Gilroy-Regular.ttf");
  font-weight: normal;

}

@font-face {
  font-family: 'Gilroy';
  src: url("font/Gilroy-Bold.ttf");
  font-weight: bold;
}

html {
  height: 100%;
  box-sizing: border-box;

}
body {
  display: grid;
  grid-template-rows: 1fr repeat(6 auto) 3fr;
  grid-gap: 1.042vw;
  color: #333333;
  //header styles
  header {
    grid-column-start: 1;
    min-height: 80px;
    display: grid;
    grid-template-columns:  repeat(16,4.167vw);
    grid-column-gap: 1.042vw;
    align-items: center;
    justify-items: center;
     justify-content: center;
    .logoContainer {
      grid-column-end: 2;
      justify-self: start;
    }
    .menuList {
      width: 100%;
      font-size: 15px;
      grid-column-start: 4;
      grid-column-end: 13;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .menuItem {
        list-style-type: none;
        .menuLinks {
          font-weight: 600;
          color: black;
          text-decoration: none;
        }
      }
    }
    #calcButton {
      cursor: pointer;
      font-weight: bold;
      justify-self: end;
      grid-column-end: 17;
      align-self: center;
      width: 206px;
      height: 48px;
      border: 2px solid #333333;
      border-radius: 5px;
      background: none;
    }
  }
  .contentBox {
    display: grid;
    justify-content: center;
    grid-gap: 1.042vw;
    grid-template-columns:  repeat(16, 4.167vw);

    .simpleDev {
      grid-column-start: 1;
      grid-column-end: 17;
      display: grid;
      grid-template-columns: repeat(12, 4.167vw);
      justify-content: center;
      grid-column-gap: 1.042vw;
      position: relative;
      min-height: 38.281vw;
      background-image: url("img/simpleDevBackground.svg");
      background-size: cover;
      #simpleDevBg {
        width: 53.333vw;
        height: 39.115vw;
        position: absolute;
        left: 37.448vw;
        top: 1.018vw;
      }

      .leftSide {
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 7;

        h1 {
          font-size: 4rem;
          font-weight: bold;
          line-height: 112%;
          margin-bottom: 1.354vw;
        }
        p {
          font-size: 1.5rem;
          line-height: 150%;
        }
        #secondCalcButton {
          cursor: pointer;
          font-weight: 600;
          margin-top: 2.083vw;
          color: #FFFFFF;
          background: #3454F5;
          width: 18.490vw;
          height: 3.750vw;
          border-radius: 5px;
        }
      }
  }

      h2 {
        margin-top: 5.208vw;
        grid-column-start: 3;
        grid-column-end: 9;
        font-size: 2.5rem;

      }
      p {
        grid-column-start: 3;
        grid-column-end: 8;
        font-size: 1.25rem;
      }
    .imgBox {
      background-image: url("img/box5copy.png");
      grid-column-start: 1;
      grid-column-end: 7;
      width: 32.344vw;
      height: 30.521vw;
      background-size: contain;
      background-repeat: no-repeat;
      justify-self: end;
    }
    .rightContentSide {

      grid-column-start: 9;
      grid-column-end: 13;
      .contentContainer {
        margin-bottom: 4.167vw;
        display: grid;
        grid-gap: 1.042vw;
        grid-template-columns: repeat(5, 4.167vw);
        h3 {
          grid-column-start: 1;
          grid-column-end: 5;
          font-weight: bold;
          font-size: 1.5rem;
        }
        p {
          grid-column-start: 1;
          grid-column-end: 6;
          line-height: 156%;
        }
      .imgContainer {
        grid-column-start: 1;
        grid-column-end: 6;
        background-size: contain;
      }
        .first {
          margin-left: -1.927vw;
          background-image: url("img/marker1.png");
          width: 9.115vw;
          height: 6.406vw;
        }
        .second {
          background-image: url("img/marker2.png");
          width: 5.208vw;
          height: 6.250vw;
        }
        .third {
          background-image: url("img/marker3.png");
          width: 5.313vw;
          height: 5.885vw;

        }
        .fourth {
          width: 5.208vw;
          height: 6.354vw;
          background-image: url("img/marker4.png");
        }
      }
    }

  }
  .blueBackground {
    position: relative;
    width: 100%;
    min-height: 46.875vw;
    background: #3454F5;
    .arrow {
      position:absolute;
    }
    .first {
      top: 8.229vw;
      left: 19.792vw;
    }
    .second {
      left: 21.094vw;
      top: 27.760vw;
    }
    .third {
      top: 7.865vw;
      left: 40.885vw;
    }
    .fourth {
      left: 36.719vw;
      top: 41.771vw;
    }
    .fifth {
     left: 66.927vw;
      top: 4.896vw;
    }
    .sixth {
      left: 70.417vw;
      top: 35.938vw;
    }
    .seventh {
      left: 78.229vw;
      top: 22.604vw;
    }
    .whiteLogo {
      position: absolute;
      left: 44.531vw;
      top: 16.823vw;
    }
    h3 {
      position: absolute;
      color: #FFFFFF;
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
      line-height: 120%;
      top: 23.490vw;
      left: 30.469vw;
    }
  }
  .secondContentBox {
    display: grid;
    justify-content: center;
    grid-gap: 1.042vw;
    grid-template-columns:  repeat(12, 4.167vw);
    h3 {
      margin: 7.292vw 0 2.604vw 0;
      font-size: 2.5rem;
      grid-column-start: 1;
      grid-column-end: 5;
      line-height: 120%;
      font-weight: bold;
    }
    .serviceItem {
      margin-bottom: 7.396vw;
      grid-column-start: 1;
      grid-column-end: 13;
      display: grid;
      justify-content: center;
      grid-gap: 1.042vw;
      grid-template-columns:  repeat(12, 4.167vw);
      .textItem{
        align-self: center;
        grid-row-gap: 0.781vw;
        padding: 0.781vw;
        grid-column-start: 6;
        grid-column-end: 13;
        justify-self: start;
        display: grid;
        grid-template-columns: repeat(6, 4.167vw);
        grid-column-gap: 1.042vw;


        h4 {
          grid-column-start: 1;
          grid-column-end: 5;
          font-weight: bold;
          font-size: 1.875rem;
        }
        p {
          margin-bottom: 0.781vw;
          grid-column-start: 1;
          grid-column-end: 6;
          font-size: 1.125rem;
          line-height: 156%;
        }
        .integrationList {
          grid-column-start: 1;
          grid-column-end: 6;
          list-style-type: none;
        }
        li {
          margin-left: 1.042vw;

          position: relative;
          font-size: 1.125rem;
          line-height: 156%;
          &::before {
            top: -0.104vw;
            position: absolute;
            left: -0.990vw;
            content: url("img/listmarker.svg");
          }
        }
        .exception {
          color: #E46868;
          &::before {
            top: -0.260vw;
            content: url("img/minusmarker.svg")
          }
        }
      }

      .serviceLeftSideDiv {
        box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.15);
        position: relative;
        width: 22.917vw;
        height: 24.844vw;
        border: 5px solid #3A3A3A;
        box-sizing: border-box;
        border-radius: 20px;
        grid-column-start: 1;
        grid-column-end: 5;
        justify-self: start;



        .prodSvg {
          top: 0.573vw;
          left: 1.146vw;
          width: 20.625vw;
          height: 22.698vw;
        }
        .servLogo {
          width: 9.323vw;
          height: 2.969vw;
          top: 10.417vw;
          left: 6.823vw;

        }
        svg {
          position: absolute;
        }
        img {
          position: absolute;
          width: 20.625vw;
          height: 22.698vw;
          top: 0.573vw;
          left: 1.042vw;
        }

      }
    }
    .calcProject {
      display: grid;

      width: 61.458vw;
      min-height: 25.781vw;
      background: #EFF7FF;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 15px;
      grid-gap: 1.042vw;
      grid-template-columns:  repeat(12, 4.167vw);
      .calcPng {
        width: max-content;
        grid-column-start: 1;
        grid-column-end: 6;
        img{
          width: 23.182vw;
          height: 23.182vw;
        }
      }
      .inputCalc {
        box-sizing: border-box;
        padding: 3.125vw 0.521vw;
        grid-column-start: 6;
        grid-column-end: 13;
        display: grid;
        grid-template-columns: repeat(7, 4.167vw);
        grid-gap: 1.042vw;
        .submitDiv {
          grid-column-start: 1;
          grid-column-end: 7;
          display: grid;
          grid-template-columns: repeat(7, 4.167vw);
          grid-gap: 1.042vw;
          #orderButton {
            cursor: pointer;
            grid-column-start: 1;
            grid-column-end: 4;
            color: #FFFFFF;
            box-sizing: border-box;
            background: #3454F5;
            border-radius: 5px;
            width: 14.948vw;
            height: 3.750vw;
          }
          small {
            margin-left: 0.781vw;
            grid-column-start: 4;
            grid-column-end: 7;
            font-size: 0.875rem;
            color: #999999;
            line-height: 171%;
          }
        }
        .inputDiv {
          grid-column-start: 1;
          grid-column-end: 8;
          input {
            box-sizing: border-box;
            padding: 1.250vw;
            background: #FFFFFF;
            border-radius: 5px;
            margin-right: 1.042vw;
          }
        }
        #nameInput {
          width: 14.948vw;
          height: 3.750vw;
        }
        #mobileNumber {
          width: 15.313vw;
          height: 3.750vw;
        }
        h2 {
          font-size: 1.875rem;
          font-weight: bold;
          grid-column-start: 1;
          grid-column-end: 6;
        }
        p {
          font-size: 1.125rem;
          line-height: 156%;
          grid-column-start: 1;
          grid-column-end: 7;
        }
      }
    }
  }

  .stackOfTech {
    margin: 7.292vw 0;
    min-height: 18.021vw;
    background-color: #EFF7FF;
    display: grid;
    justify-content: center;
    grid-gap: 1.042vw;
    grid-template-columns:  repeat(12, 4.167vw);
    h2 {
      align-self: center;
      grid-column-start: 1;
      grid-column-end: 6;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 120%;
    }
    .tech {
      display: flex;
      justify-content: space-between;
      grid-column-start: 1;
      grid-column-end: 13;
      .stack {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        border-radius: 10px;
        width: 19.792vw;
        height: 4.583vw;
        .vueImg {
        width: 6.250vw;
          height: 2.188vw;
        }
        .djangoImg {
          width: 6.563vw;
          height: 2.292vw;
        }
        .elasticSearchImg {
          width: 12.083vw;
          height: 2.392vw;
        }
      }
    }

  }
  .cases {
    display: grid;
    grid-gap: 1.042vw;
    grid-template-columns:  repeat(12, 4.167vw);
    justify-content: center;
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
    }

    .caseContainer {
      margin-bottom: 2.083vw;
      grid-column-start: 1;
      grid-column-end: 13;
      min-height: 20.781vw;
      display: grid;
      grid-gap: 1.042vw;
      grid-template-columns:  repeat(12, 4.167vw);

      .caseLeft {
        position: relative;

        .onHover {
          font-weight: 600;
          color: #ffffff;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          opacity: 0;
          background: #3454F5;
          border-radius: 15px;
          .center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .arrowLink {
              margin-bottom: 0.833vw;
              align-self: center;
              width: 2.500vw;
              height: 2.500vw;
            }
          }
            &:hover {
              opacity: 0.9;
            }
        }
        grid-column-start: 1;
        grid-column-end: 8;
        img {
          width: 35.365vw;
          height: 20.781vw;
        }
      }
      .caseText {
        margin-left: 1.823vw;
        grid-column-start: 8;
        grid-column-end: 13;
        h3 {
          margin-bottom: 1.458vw;
          font-size: 1.25rem;
        }
        ul {
          margin-bottom: 1.667vw;
          li {
            margin-bottom: 0.833vw;
            .percent {
              display: flex;
              justify-content: center;
              align-items: center;
              min-width: 5vw;
              height: 2.917vw;
              background: #EFF7FF;
              border-radius: 5px;
              span {
                font-weight: 600;
                line-height: 156%;
                color: #3454F5;
                font-size: 1.125rem;
              }

            }
            p {
              margin-left: 0.885vw;
              font-weight: 600;
              line-height: 150%;
            }
            display: flex;
            list-style-type: none;
          }
        }
        .companyLogo {
          .snowLogo {
            width: 16.615vw;
            height: 1.458vw;
          }
          .maximumLogo {
            width: 8.333vw;
            height: 1.981vw;
          }
          .mobiLogo {
            width: 9.063vw;
            height: 1.771vw;
          }
        }
      }
    }
  }
  .calcDevelopment {
    display: grid;
    grid-gap: 1.042vw;
    grid-template-columns:  repeat(12, 4.167vw);
    justify-content: center;
    align-items: center;
    min-height: 23.854vw;
    background: #3454F5;
    margin-bottom: 7.292vw;
    .test {
      grid-column-start: 1;
      grid-column-end: 13;
      display: grid;
      grid-gap: 1.042vw;
      grid-template-columns:  repeat(12, 4.167vw);
      justify-content: center;
      align-items: center;
      h2 {
        color: #ffffff;
        grid-column-start: 1;
        grid-column-end: 9;
        font-weight: bold;
        font-size: 2.5rem;
      }
      .priceText {
        color: #ffffff;
        display: flex;
        grid-column-start: 1;
        grid-column-end: 8;
        align-items: center;
      }

        .pContainer {
          width: 17.917vw;
        }

        .price {
          margin-right: 1.042vw;
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 7.500vw;
          min-height: 2.917vw;
          background: #FFFFFF;
          border-radius: 5px;
          span {
            color: #333333;
            font-size: 1.5rem;
            font-weight: bold;
          }
          p {
            align-self: center;
          }

        }
      }
      .orderCalculationDiv {
        display: flex;
        justify-content: space-between;
        grid-column-start: 1;
        grid-column-end: 13;

      }
      input {
        width: 20.469vw;
        height: 3.750vw;
        border-radius: 5px;
      }
      #orderCalcMobileInput,
      #orderCalcNameInput {
        box-sizing: border-box;
        padding: 1.25vw;
        width: 19.792vw;
        background: #ffffff;
      }
      #submitOrder {
        cursor: pointer;
        background-color: #FFE818;
        color: #333333;
        font-weight: 800;
        font-size: 1rem;
      }
      small {
        grid-column-start: 1;
        grid-column-end: 13;
        font-size: 0.875rem;
        color: #ffffff;
      }
    }

  }
  .teamAndOther {
    display: grid;
    grid-gap: 1.042vw;
    grid-template-columns:  repeat(12, 4.167vw);
    justify-content: center;
    h2 {
      line-height: 120%;
      grid-column-start: 1;
      grid-column-end: 13;
      font-size: 2.5rem;
    }
    .aboutTeam {
      margin-bottom: 7.292vw;
      grid-column-start: 1;
      grid-column-end: 13;
      display: grid;
      grid-gap: 1.042vw;
      grid-template-columns:  repeat(12, 4.167vw);
      justify-content: center;
      .aboutTeamAndCurator {
        grid-column-start: 1;
        grid-column-end: 13;
        display: flex;
        justify-content: space-between;
        .aboutJuniors {

          width: 23.802vw;
          height: 5.833vw;
        }
        .aboutCurator {
          width: 27.344vw;
          height: 5.260vw;
          grid-column-start: 7;
          justify-self: end;
          grid-column-end: 13;
          display: flex;
          align-items: center;
          .curatorImg {
            margin-right: 1.615vw;
            width: 5.260vw;
            height: 5.260vw;
          }
          p {
            font-size: 1.125rem;
            font-weight: 600;
          }
        }
      }

      .officeImg {
        grid-column-start: 1;
        grid-column-end: 13;
        margin-top: 2.083vw;
        .officePng {
          width: 61.458vw;
          height: 18.750vw;
        }
      }
    }
    p {
      grid-column-start: 1;
      grid-column-end: 6;
      margin-bottom: 2.083vw;
    }
    .designServices {
      margin-bottom: 7.292vw;
      grid-column-start: 1;
      grid-column-end: 13;
      display: flex;
      justify-content: space-between;
      .designService {
        position: relative;
        background: #EFF7FF;
        width: 19.792vw;
        height: 23.958vw;
        h3 {
          position: absolute;
          top: 2.083vw;
          left: 2.083vw;
          font-size: 1.25rem;
        }
        a {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 4.167vw;
          height: 4.167vw;
          z-index: 2;
          .linkButton {
            width: 4.167vw;
            height: 4.167vw;

          }
        }

        .bg {
          position: absolute;
          z-index:1;
          right: 0;
          bottom: 0;
        }
        .journalPic {

          width: 17.708vw;
          height: 15.521vw;
        }
        .imacPic {
           width: 16.979vw;
          height: 15.885vw;
        }
        .ipadPic {
          width: 19.792vw;
          height: 18.646vw;
        }
        .servicesList {
          z-index:2;
          width: 73%;
          position: absolute;
          top: 4.583vw;
          left: 2.083vw;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .servicesListItem {
            margin: 0 0.417vw 0.417vw 0;
            padding: 0.208vw 0.417vw;
            background: #FFFFFF;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 1.250vw;
            span {
            font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
//footer styles
  footer {
    min-height: 23.073vw;
    background-color: #2E3646;
    grid-row-start: 9;
    display: grid;
    grid-gap: 1.042vw;
    grid-template-columns:  repeat(12, 4.167vw);
    justify-content: center;
    align-items: center;
    .footerInfo {
      #footerLogo {
        width: 7.020vw;
        height: 2.240vw;
        margin-bottom: 2.760vw;
      }
      .info {
        display: flex;
        justify-content: space-between;
        ul {
          list-style-type: none;
          li {
            margin-bottom: 0.625vw;
            display: flex;
            align-items: center;
            a {
              text-decoration: none;
              color: #ffffff;
            }
            img {
              margin-right: 0.833vw;
            }
          }
          li:first-child {
            margin-bottom: 0.833vw;
            font-weight: bold;
            font-size: 1.125rem;
          }
        }
      }
      color: #ffffff;
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }




